*, ::before , ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
Changez les couleurs / Voir si c'est pas mieux de mettre des logo
*/

header{
    background-color: rgba(0, 0, 0, 0.322);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 30px;
}

h1{
    color: blue;
}

#top-barre{
    display: flex;
    gap: 20px;
    margin-left: auto;
}

#top-barre p{
    color: rgb(0, 0, 0);

}

/* édite toute les images du projet */
.projet-img {
  width: 200px;
}

/* display: flex très important pour débloquer les positions */
#mes-projets {
padding-top: 50px ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}

.categoriprojet{
    color: blue;
}

.projet-title{
    padding: 10px 10px 10px;
}



img{
    height: 200px;
    width: 200px;
        border-radius: 20px ;
}

.cartecontainer{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 20px ;
    border: 2px solid red;
}
